In [6]:
import pandas as pd
import numpy as np

Empty DataFrame
Columns: []
Index: []

In [173]:
import pandas as pd
class User:
    def __init__(self, name):
        self.name = name
        self.investor = ""
        self.ownership = 0.3333
        self._table = pd.DataFrame({
            "Date" : ""
            ,"Debit": 0.00
            ,"Credit": 0.00
            ,"Balance":0.00
            ,"Description":""
        }, index= [0])

    @property
    def table(self):
        return self._table

    @table.setter
    def table(self, row):

        # try:
        if len(row) == (len(self._table.columns)-2):
            """
            Adjusting the row
            """
            prevBal = self._table.loc[len(self._table.index)-1, "Balance"] if len(self._table.index) != 0 else 0.00
            futureBal= prevBal + row[1]
            print(f"prev {self._table.loc[len(self._table.index)-1, 'Balance']}")
            print(f"table length {len(self._table.index)}")
            print(f"row {row[1]}")
            print(f"prev {prevBal}")
            print(f"futureBal {futureBal}")
            print("********************************************")
            row.insert(2, 0.00) if row[1] > 0.00 else row.insert(1, 0.00)
            row.insert(3, futureBal)
            print(f"row: {row}")
            """
            Adding the row
            """
            self._table.loc[len(self._table.index)] = row
        else:
            print("Array must have 5 items, Date, Debit, Credit, Balance and a Description!")
        # except TypeError:
        #     print("Must be an List or Array type")
        # except:
        #     print("Something else went wrong please review the Call Stack")
    @table.deleter
    def table():
        del self._table

    def deleteRow(self, index):
        self._table.drop(index)

In [174]:
import datetime
Darrel = User("Darrel")
now = datetime.date.today()
#Darrel._table = "print"
#Darrel._table = [now,-350,"This is great"]
#Darrel.table([now,-350,"This is great"])
Darrel.table
Darrel.table = [now,-350,"This is great"]
Darrel.table = [now,250,"This is great"]
Darrel.table = [now,250,"This is great"]
Darrel.table

prev 0.0
table length 1
row -350
prev 0.0
futureBal -350.0
********************************************
row: [datetime.date(2022, 12, 23), 0.0, -350, -350.0, 'This is great']
prev -350.0
table length 2
row 250
prev -350.0
futureBal -100.0
********************************************
row: [datetime.date(2022, 12, 23), 250, 0.0, -100.0, 'This is great']
prev -100.0
table length 3
row 250
prev -100.0
futureBal 150.0
********************************************
row: [datetime.date(2022, 12, 23), 250, 0.0, 150.0, 'This is great']

         Date  Debit  Credit  Balance    Description
0                0.0     0.0      0.0
1  2022-12-23    0.0  -350.0   -350.0  This is great
2  2022-12-23  250.0     0.0   -100.0  This is great
3  2022-12-23  250.0     0.0    150.0  This is great

In [72]:
import datetime
now = datetime.date.today()
Claudia.table = [now,-350,"This is great"]

In [66]:
import datetime
table = pd.DataFrame(columns=['Date'
                                          ,'Debit'
                                          ,'Credit'
                                          ,'Balance',
                                           'Description'])

In [131]:
import datetime
table.loc[len(table.index)] = [datetime.date.today(), 20.00, 40.00, 50.00,"great"]

In [26]:
len(table.index)

1

In [76]:
Claudia._table.columns

Index(['Date', 'Debit', 'Credit', 'Balance', 'Description'], dtype='object')

In [64]:
Claudia.table.columns

AttributeError: 'list' object has no attribute 'columns'

In [34]:
a.insert(2, 3)

In [35]:
a

[1, 2, 3, 4, 5]

In [42]:
table

         Date  Debit  Credit  Balance Description
0  2022-12-23   20.0    40.0     50.0       great

In [115]:
table = pd.DataFrame(columns=['Date'
                                          ,'Debit'
                                          ,'Credit'
                                          ,'Balance',
                                           'Description'])

In [117]:
len(table.index)

0

In [132]:
table.loc[len(table.index), "Balance"] if len(table.index) == 0 else 0.00

0.0

In [ ]:
table.loc[len(table.index), "Balance"] if len(table.index) == 0 else 0.0

In [5]:
def sample(*args):
    for key,value in args:
        print(key)
        print(value)

In [6]:
sample(("Darrel",0.25), ("Tony", 0.35))

Darrel
0.25
Tony
0.35