In [ ]:
import pandas as pd
import numpy as np

In [19]:
import pandas as pd
class User:
    def __init__(self, name):
        self.name = name
        self.investor = ""
        self.ownership = 0.3333
        self._table = pd.DataFrame({
            "Date" : ""
            ,"Debit": 0.00
            ,"Credit": 0.00
            ,"Balance":0.00
            ,"Description":""
        }, index= [0])

    @property
    def table(self):
        return self._table

    @table.setter
    def table(self, row):

        # try:
        if len(row) == (len(self._table.columns)-2):
            """
            Adjusting the row
            """
            prevBal = self._table.loc[len(self._table.index)-1, "Balance"] if len(self._table.index) != 0 else 0.00
            futureBal= prevBal + row[1]
            print(f"prev {self._table.loc[len(self._table.index)-1, 'Balance']}")
            print(f"table length {len(self._table.index)}")
            print(f"row {row[1]}")
            print(f"prev {prevBal}")
            print(f"futureBal {futureBal}")
            print("********************************************")
            row.insert(2, 0.00) if row[1] > 0.00 else row.insert(1, 0.00)
            row.insert(3, futureBal)
            print(f"row: {row}")
            """
            Adding the row
            """
            self._table.loc[len(self._table.index)] = row
        else:
            print("Array must have 5 items, Date, Debit, Credit, Balance and a Description!")
        # except TypeError:
        #     print("Must be an List or Array type")
        # except:
        #     print("Something else went wrong please review the Call Stack")
    @table.deleter
    def table():
        del self._table

    def deleteRow(self, index):
        self._table.drop(index)

In [ ]:
import datetime
Darrel = User("Darrel")
now = datetime.date.today()
#Darrel._table = "print"
#Darrel._table = [now,-350,"This is great"]
#Darrel.table([now,-350,"This is great"])
Darrel.table
Darrel.table = [now,-350,"This is great"]
Darrel.table = [now,250,"This is great"]
Darrel.table = [now,250,"This is great"]
Darrel.table

In [ ]:
import datetime
now = datetime.date.today()
Claudia.table = [now,-350,"This is great"]

In [ ]:
import datetime
table = pd.DataFrame(columns=['Date'
                                          ,'Debit'
                                          ,'Credit'
                                          ,'Balance',
                                           'Description'])

In [ ]:
import datetime
table.loc[len(table.index)] = [datetime.date.today(), 20.00, 40.00, 50.00,"great"]

In [ ]:
len(table.index)

In [ ]:
Claudia._table.columns

In [ ]:
Claudia.table.columns

In [ ]:
a.insert(2, 3)

In [ ]:
a

In [ ]:
table

In [ ]:
table = pd.DataFrame(columns=['Date'
                                          ,'Debit'
                                          ,'Credit'
                                          ,'Balance',
                                           'Description'])

In [ ]:
len(table.index)

In [ ]:
table.loc[len(table.index), "Balance"] if len(table.index) == 0 else 0.00

In [ ]:
table.loc[len(table.index), "Balance"] if len(table.index) == 0 else 0.0

In [ ]:
def sample(*args):
    for key,value in args:
        print(key)
        print(value)

In [ ]:
sample(("Darrel",0.25), ("Tony", 0.35))

In [ ]:
annoymous = lambda para : print(para)

In [ ]:
annoymous("THis is a test")

In [318]:
import pandas as pd
import numpy as np
import functools
import itertools

from abc import ABC, abstractmethod


import pandas as pd
import numpy as np


class Profile(ABC):
    def __init__(self):
        pass

    def __iter__(self):
        return self

    def __next__(self):
        pass

    @abstractmethod
    def showAccount(self):
        pass


class BarberOwner(Profile):
    def __init__(self, name):
        super().__init__()
        self.name = name

class Investor(Profile):
    def __init__(self, name, rate):
        super().__init__()
        self.name = name
        self.account = InvestorAccount(name, rate)
        self._balance = 0.00
        self.a = 0

    # def __iter__(self):
    #      return self
    #
    # def __next__(self):
    #     if self.a <= 20:
    #       x = self.a
    #       self.a += 1
    #       return x
    #     else:
    #       raise StopIteration

    def showAccount(self):
        print(self.account.table)


    @property
    def balance(self):
        return self.account.balance

class Account:
    def __init__(self):
        self._table = pd.DataFrame({
            "Date": ""
            , "Debit": 0.00
            , "Credit": 0.00
            , "Balance": 0.00
            , "Description": ""
        }, index=[0])
        self.tableLength = len(self._table.index)
        self._balance = 0.00

    @property
    def table(self):
        return self._table

    @property
    def balance(self):
        return self._balance

    @table.setter
    def table(self, row):

        # try:
        if len(row) == (len(self._table.columns) - 2):
            """
            Adjusting the row
            """
            prevBal = self._table.loc[len(self._table.index) - 1, "Balance"] if len(self._table.index) != 0 else 0.00
            futureBal = prevBal + row[1]
            row.insert(2, 0.00) if row[1] > 0.00 else row.insert(1, 0.00)
            row.insert(3, futureBal)

            """
            Adding the row
            """
            self._table.loc[len(self._table.index)] = row
            self._balance = self.table.loc[self.tableLength, "Balance"]
        else:
            print("Array must have 5 items, Date, Debit, Credit, Balance and a Description!")
        # except TypeError:
        #     print("Must be an List or Array type")
        # except:
        #     print("Something else went wrong please review the Call Stack")

    @table.deleter
    def table(self):
        del self._table

    def deleteRow(self, index):
        self._table.drop(index)


class InvestorAccount(Account):
    def __init__(self, name, rate):
        self.investor = name
        self.ownership = rate
        super().__init__()


"""
All Transactions will be posted here
This obj will action the transacton split
"""


class GeneralLedger(Account):
    def __init__(self):
        super().__init__()
        self.identity = "General Ledger Account for all Inventory"
        self.investors = []

    def addInvestors(self, *args):
        for investor in args:
            self.investors.append(investor)

    def postEntry(self, entry):
        self.table = entry

    # for the use to assign values to properties of table
    @classmethod
    def assignment(self, obj, value):
        obj.account.table = value
        print(value)



    def postSplit(self, entry):
        # modify the amount to match the split and give everyone their share
        split_amount = lambda amount, rate: amount * rate

        result = list(map(lambda inv: GeneralLedger.assignment(inv,
                                         [entry[0], split_amount(entry[1],
                                          inv.account.ownership),
                                          entry[2]]), self.investors))
        return result

    def displayInvestors(self):
        a = list(map(lambda i: display(i.account.table), self.investors))
        return a

In [319]:
Darrel = Investor("Charles", .25)
Claudia = Investor("Charles", .38)
Tony = Investor("Charles", .35)

In [320]:
Darrel.account.table

  Date  Debit  Credit  Balance Description
0         0.0     0.0      0.0

In [321]:
MainBank = GeneralLedger()

In [322]:
MainBank.addInvestors(Darrel, Claudia, Tony)

In [323]:
MainBank.postSplit(["today",250.00,"this is a test"])

['today', 62.5, 0.0, 62.5, 'this is a test']
['today', 95.0, 0.0, 95.0, 'this is a test']
['today', 87.5, 0.0, 87.5, 'this is a test']

[None, None, None]

In [324]:
MainBank.investors[1].account.table

    Date  Debit  Credit  Balance     Description
0           0.0     0.0      0.0
1  today   95.0     0.0     95.0  this is a test

In [325]:
MainBank.assignment(Tony,["Darrel Test",1980.00,"Deposit of money "])

['Darrel Test', 1980.0, 0.0, 2067.5, 'Deposit of money ']

In [326]:
display(Tony.account.table)

          Date   Debit  Credit  Balance        Description
0                  0.0     0.0      0.0
1        today    87.5     0.0     87.5     this is a test
2  Darrel Test  1980.0     0.0   2067.5  Deposit of money

In [327]:
Darrel.account.table

    Date  Debit  Credit  Balance     Description
0           0.0     0.0      0.0
1  today   62.5     0.0     62.5  this is a test

In [328]:
Claudia.account.table

    Date  Debit  Credit  Balance     Description
0           0.0     0.0      0.0
1  today   95.0     0.0     95.0  this is a test

In [329]:
MainBank.displayInvestors()

    Date  Debit  Credit  Balance     Description
0           0.0     0.0      0.0
1  today   62.5     0.0     62.5  this is a test

    Date  Debit  Credit  Balance     Description
0           0.0     0.0      0.0
1  today   95.0     0.0     95.0  this is a test

          Date   Debit  Credit  Balance        Description
0                  0.0     0.0      0.0
1        today    87.5     0.0     87.5     this is a test
2  Darrel Test  1980.0     0.0   2067.5  Deposit of money

[None, None, None]

441.19949999999994